::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body{
    background-color: #ebebeb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
    color: #282828;
    font-weight: bold;
    font-size: 70px;
}

.heading-2{
    text-align: center;
    color: #636363;
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
}

.bracket{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}
.bracket:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.bracket:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.sections{
    display: flex;
}

.section-left{
    height: 50px;
    width: 50px;

    float: left;
    background-color: #c2c2c2;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.section-right{
    height: 50px;
    width: 50px;

    float: right;
    background-color: #c2c2c2;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.vs{
    text-align: center;
    background-color: #e3e3e3;
}

.winner{
    background-color: #74ff94;
}

.winner{
    background-color: #74ff94;
}

.looser{
    background-color: #ff7474;
}

.details{
    width: 80%;
    height: 25px;
    background-color: #484848;
    color: #ffffff;
    font-size: 25px;
    font-weight: normal;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}


.left{
    float: left;
}


.right{
    float: right;
}

.same-day{
    width: 1150px;
    height: 260px;
    border: 5px solid #636363;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;
    line-height: 260px;
}

.day-text{
    color: #484848;
    font-weight: bold;
    font-size: 70px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    margin-left: -100px;
    margin-top: 30px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.tooltiptext{
    width: 200px;
    height: 100px;

    background-color: #3a3a3a;
    color: #fff;

    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 100;
}
